*{
    padding: 0%;
    margin: 0%;
}

img{
    max-width: 100%;
}

a{
    text-decoration: none;
    color: inherit;
}

li{
    list-style-type: none;
}




body{
    max-width: 100%;
}


.flexdesktop{
    display: flex;
}

.flex{
    display: flex;
    justify-content: center;
}
/*--------------------Header-----------------------*/

header{
    height: 100vh;
    width: 100vw;
    position: relative;
    background-image: url(images/bentley.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

header h2{
    font-family: 'Criteria CF';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: 0.05em;
}

header h3{
    color: #C59042;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
}

header div#hero{
    position: absolute;
    left: 13.4%;
    top: 4%;
}

header h1{
    position: relative;
    margin: auto;
    top: 35vh;
    max-width: 700px;
    font-family: 'Criteria CF';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    text-align: center;
    letter-spacing: 0.05em;
}

header footer{
    position: relative;
    bottom: 0vh;
    text-align: center;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
}

header nav {
    display: inline-block;
    position: relative;
    top:6%;
    left: 36%;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
}


header nav a:hover{
    display: inline-block;
    color: #C59042;
    border-bottom: 1px solid #C59042;
}

header nav ul li span:hover{
    color:#C59042;
}


header nav ul li span{
    padding: 9px 38px;
    border: 1.5px #C59042 solid;
}

header nav ul li{
    display: inline;
    padding: 10px 2vw;
}



/*---------------------The first section---------------*/
.firstsection section{
    margin-top: -36px;
    margin-bottom: 80px;
    color: white;
    position: relative;
    padding-left: calc(50% - 80px);
}

.firstsection  p{
    max-width: 500px;
    margin: auto;
    color: #3C3C3C;
    padding: 10px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.02em;
}

.firstsection{
    margin-left: 5%;
    margin-right: 5%;
}

.firstsection div h2{
    max-width: 400px;
    height: fit-content;
    padding: 2px 30px 2px 5px;
    border-left: 1px solid #C59042;
    color: #1E2E3E;
    font-family: 'Criteria CF';
    font-style: normal;
    margin-top: 5%;
    margin-left: 30px;
    font-weight: 700;
    font-size: 48px;
    letter-spacing: 0.05em;
}

.firstsection div h5{
    transform: rotate(-90deg);
    display: block;
    margin-top: 35px;
    width: 90px;
    margin-right: -27px;
}

.firstsection div.flexdesktop{
    margin: 3%;
    justify-content: space-around;
}
.firstsection div.flex{
    margin: 1% 5%;
}


/*-----------------------Second section-----------------*/
.secondsection{
    margin-top: -23%;
    padding-top: 23%;
    background-color: #1E2E3E;
    color: white;
}


.secondsection h2{
    color: white;
    font-weight: 700;
    font-size: 48px;
    text-align: center;
    letter-spacing: 0.05em;
    max-width: 800px;
    padding: 70px 0px;
    margin-left: auto;
    margin-right: auto;
}

.secondsection >div div{
    padding-left: 10vw;
}

.secondsection div.flexdesktop{
    padding-top: 5%;
    justify-items: flex-end;
}
.secondsection >div div p{
    padding-bottom: 5%;
}




/*---------------------Third section---------*/


.thirdsection{
    margin: 10% 0px;
    width: 100%;
}

.thirdsection .flexdesktop{
    flex-direction: row-reverse;
    justify-content: space-between;
}


.thirdsection #maincontent{
    position: relative;
    background-color: #C59042;
    color: white;
    padding: 7% 15%;
    margin: 4% 0%;
    margin-left: -200px;
}

.thirdsection #maincontent h2{
    font-family: 'Criteria CF';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
}

.thirdsection #maincontent h4{
    margin: 10px 0px 8px 0px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
}


.thirdsection #maincontent p{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.05em;
}

.thirdsection #fixedimages{
    z-index: 1;
    margin-right: 00px;
    max-width: 60%;
}

.thirdsection #fixedimages img{
    margin-right: 10px;
    height: 470px;
    width: auto;
}

/*--------------------------Attorneys----------*/

.attorneys .flexdesktop{
    justify-content: flex-end;
}

.attorneys{
    margin: 5% 0% 11% 5%;
}
.attorneys div p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.01em;
    color: #1E234E;
}

.attorneys li{
    font-family: 'Criteria CF';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.05em;
    padding: 0px 10px;
}
.attorneys li span{
    color: #C59042;
    display: block;
    font-size: 0.7em;
}

.attorneys div h2{
    font-family: 'Criteria CF';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 58px;
    letter-spacing: 0.05em;
    color: #1E2E3E;
}

/*----------------------------Locations-----------*/

.locations{
    background-color: #1E2E3E;
    color: white;
    padding: 8% 10%;
}

.locations .first h2, .first p{
    text-align: center;
    margin-bottom: 20px;
}

.locations h2{
    font-family: 'Criteria CF';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    letter-spacing: 0.05em;
}


.locations >p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.02em;
}

.locations ul.flexdesktop li{
    padding-right: 10px;
}

.locations ul.flexdesktop{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

/*------------------------------footer------*/


.footer{
    background-color: #1E2E3E;
    color: white;
    padding: 7vh 20vh; 
}

.footer>div{
    padding-bottom: 5%;
}

.footer span{
    color: #C59042;
    font-size: 16px;
    font-weight: 600;
}

.footer div div{
    padding-top: 30px;
}

.footer>div{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.05em;
}

.footer>footer#footer{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.05em;
    padding-left: 15%;
}


#footer span{
    position: absolute;
    right: 17vw; 
}

#footer span a{
    padding: 15px 10px;
}































@media screen and (max-width:1440) {
    /*All screens less than 1441px*/
    header nav ul li{
        display: inline;
        padding: 10px 1vw;
    }

}

@media screen and (max-width: 1024px) {
    /*All screens less than 1025px*/
    header h1{
        position: relative;
        top: 40vh;
    }

    .thirdsection #fixedimages img{
        margin-right: 10px;
        height: 370px;
        width: auto;
    }

    .attorneys .flexdesktop .flexdesktop{
        display: flex;
        justify-content: flex-end;
    }


    .thirdsection #maincontent{
        padding: 5% 6%;
        margin: 4% 0%;
        margin-left: -200px;
    }
    header nav {
        position: relative;
        left: 29%;
    }

    .secondsection{
        margin-top: -13%;
        padding-top: 13%;
        background-color: #1E2E3E;
    }
    
}

@media screen and (max-width: 1000px) {
    /*All screens less than 1001...Tablet and phone screens*/
    header nav{
        display: none;
    }
    .flexdesktop{
        display: block;
    }


    .hiddenonmobile{
        display: none;
    }

    .firstsection div h2{
        margin-top: 40px;
        margin-bottom: 40px;
        font-size: 35px;
        margin-right: auto;
        margin-left: auto;
    }

    .secondsection{
        margin-top: -23%;
        padding-top: 23%;
        padding-bottom: 0%;
        background-color: #1E2E3E;
    }

    .secondsection h2{
        font-size: 34px;
    }

    .secondsection >div div p{
        padding:3% 5%;
        padding-bottom: 30px;
        font-size: 15px;
        max-width: 70%;
    }

    .thirdsection #maincontent{
        width: 80%;
        padding: 10%;
        margin: 0%;
        text-align: center;
    }

    .attorneys{
        margin: 5%;
        align-items: center;
    }

    .attorneys div.first h2, div.first p{
        text-align: center;
        margin-bottom: 20px;
    }



}



@media screen and (max-width: 600px){
.attorneys .flexdesktop .flexdesktop{
    display: block;
    margin-left: calc(50% - 120px);
}

}