*{
    padding: 0%;
    margin: 0%;
}
header{
    height: 100vh;
    width: 100vw;
    background-image: url(images/bentley.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

a{
    text-decoration: none;
    color: inherit;
}

header h2{
    position: absolute;
    left: 17.4%;
    top: 4%;
    font-family: 'Criteria CF';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    /* identical to box height */

    letter-spacing: 0.05em;
}

header h3{
    color: #C59042;
    position: absolute;
    left: 17.4%;
    top: 8.8%;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
}

header nav ul{
    display: inline-block;
    position: absolute;
    left: 40%;
    top: 46px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
}

header nav ul li{
    display: inline-block;
    padding: 0px 30px;
}
header nav ul li span{
    padding: 9px 38px;
    border: 1.5px #C59042 solid;
}

header h1{
    position: absolute;
    width: 48vw;
    height: 8vh;
    left: 25vw;
    top: 40vh;
    font-family: 'Criteria CF';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    text-align: center;
    letter-spacing: 0.05em;
}

header footer{
    text-align: center;
    padding-top: 93vh;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
}


.firstsection{
    padding: 20px;
    height: 80vh;
    padding-top: 50px;
}

.firstsection > p{
    text-align: center;
    color: #3C3C3C;
    padding: 10px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.02em;
}

.firstsection > div{
    margin-top: 60px;
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
}

.firstsection img{
    width: 36vw;
    height: 85vh;
}

.firstsection > div h2{
    width: 23%;
    padding: 2px 30px 2px 5px;
    border-left: 1px solid #C59042;
    color: #1E2E3E;
    font-family: 'Criteria CF';
    font-style: normal;
    max-height: 240px;
    margin-top: 5%;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    letter-spacing: 0.05em;
}

.firstsection div h5{
    transform: rotate(-90deg);
    margin-top: 40px;
    display: block;
    margin-right:-23px ;
}

.secondsection{
    padding-top: 23%;
    background-color: #1E2E3E;
}

.secondsection h2{
    font-family: 'Criteria CF';
    font-style: normal;
    color: white;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    text-align: center;
    letter-spacing: 0.05em;
    width: 63%;
    margin-left: auto;
    margin-right: auto;
}

.secondsection > div{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.secondsection >div >div{
    max-width: 50%;
    padding: 5% 3% 5% 15% ;
    color: white;
}

.secondsection p{
    padding: 20px;
}


.thirdsection #fixedimages img{
    margin-right: 12px;
    z-index: 10;
}

.thirdsection #maincontent{
    background-color: #C59042;
    z-index: 1;
    color: white;
    position: absolute;
    right: 0px;
    padding: 16%;
    margin: 10vh 0px;
}

.thirdsection #maincontent h2{
    font-family: 'Criteria CF';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
}

.thirdsection #maincontent h4{
    margin: 10px 0px 8px 0px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
}

.thirdsection #maincontent p{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.05em;
    }

.thirdsection #fixedimages{
    z-index: 2;
    clear: both;
    padding: 25vh 0px;
}

.thirdsection #fixedimages #focus{
    z-index: 10000;
}

.attorneys{
    display: flex;
    margin: 5% 0% 5% 10%;
    justify-content: center;
}

.attorneys li{
    list-style-type: none;
}
.attorneys div{
    margin: 20px 5% 0px 10%;
}
.attorneys div h2{
    font-family: 'Criteria CF';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    letter-spacing: 0.05em;


    color: #1E2E3E;

}

.attorneys div p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.01em;
    color: #1E234E;
}

.attorneys li{
    font-family: 'Criteria CF';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.05em;
    padding: 0px 10px;
}
.attorneys li span{
    color: #C59042;
    display: block;
    font-size: 0.7em;
}

.locations{
    background-color: #1E2E3E;
    color: white;
    text-align: center;
    padding: 8% 10%;
}

.locations h2{
    font-family: 'Criteria CF';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    letter-spacing: 0.05em;
}


.locations >p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.02em;
}

.locations li{
    list-style-type: none;
    font-family: 'Criteria CF';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.02em;
    padding: 20px 10px;
}
.locations ul{
    display: flex;
    align-items: center;
    justify-content: center;

}


.footer{
    background-color: #1E2E3E;
    color: white;
    padding: 5vh 20vh; 
}

.footer>div{
    display: flex;
    justify-content: center;
    padding-bottom: 5%;
}

.footer span{
    color: #C59042;
    font-size: 16px;
    font-weight: 600;
}

.footer>div>div{
    padding: 10px 5vw;
}

.footer>div{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.05em;
}

.footer>footer#footer{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.05em;
    padding-left: 15%;
}


#footer span{
    position: absolute;
    right: 5vw;
}